@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&displ');
body {
  margin: 0;
  font-family: "Big Shoulders Text", serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}